testFile.txt
Aggregated\ Plotting\ Scripts/photons/
Aggregated\ Plotting\ Scripts/pions/
Aggregated\ Plotting\ Scripts/kaons/
Aggregated\ Plotting\ Scripts/taus/
Aggregated\ Plotting\ Scripts/submit_merge.slurm
Aggregated\ Plotting\ Scripts/output.pdf
Aggregated\ Plotting\ Scripts/pickles/
Aggregated\ Plotting\ Scripts/oddGallery/
Aggregated\ Plotting\ Scripts/__pycache__*
